<!-- <p>
  add-user works!
</p> -->
<app-header></app-header>
<div class="content-page">
  <div class="content page-content-wrapper">
    <h1 class="display-1" style="text-align:center">Update User</h1>
    <div align="left" style="padding:15px">
      <form class="example-form" (ngSubmit)="onUpdateUser(userForm)" #userForm="ngForm">

        <mat-form-field class="example-full-width">
          <input matInput ngModel required placeholder="Email ID" readonly [(ngModel)]="eid" name="eid" #ed="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput ngModel required placeholder="User Name" [(ngModel)]="uname" name="uname" #unme="ngModel">
          <mat-error *ngIf="unme.hasError('required')">Please Enter User Name</mat-error>
        </mat-form-field>

        <label>User Gender</label>
        <mat-radio-group required class="example-radio-group" [(ngModel)]="gender" #gndr=ngModel ngModel name="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <br>

        <mat-form-field class="example-full-width">
          <input matInput type="tel" ngModel required placeholder="Mobile Number" [(ngModel)]="mobile" minlength="8" maxlength="13"
            name="mobile" #mbile="ngModel">
          <mat-error *ngIf="mbile.hasError('required')">Please Enter Mobile Number</mat-error>
        </mat-form-field>

        <label>User Picture:</label>
        <img src="https://letsmeetbackend.herokuapp.com/images/users/{{user_pic}}" height="150" width="150" alt="..." class="img-thumbnail">
        <input type="file" name="user_pic" (change)="onFileSelected($event)" id="">
        <!-- <div class="alert alert-danger" *ngIf="user_pic.hasError('required') && (user_pic.dirty || user_pic.touched)">
          Profile Picture is required
        </div> -->

        <mat-form-field>
          <input matInput required ngModel [matDatepicker]="picker" placeholder="Choose a date" name="myDate" [(ngModel)]="myDate"
            #b_date="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select ngModel required placeholder="Select User Type" [(ngModel)]="token" name="token" #tken="ngModel">
            <mat-option value="admin" selected>
              Admin
            </mat-option>
            <mat-option value="user">
              User
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" mat-button mat-raised-button color="warn" [disabled]="!userForm.form.valid">Update User
          <mat-icon>done</mat-icon>
        </button>

      </form>
    </div>
  </div>
</div>
