<p>
  events works!
</p>

<!--<table>
  <tr *ngFor="let item of arrEvents">
    <td>{{item.event_name}}</td>
    <td>{{item.event_des}}</td>
    <td>
      <input type="button" value="Delete" (click)="deleteEvent(item)">
    </td>
    <td>
      <input type="button" value="Update" (click)="updateEvent(item)">
    </td>
  </tr>
</table>-->
<app-header></app-header>
<div class="content-page">
  <div class="content">
    <div class="">
      <div class="page-header-title">
        <h4 class="page-title">Events</h4>
      </div>
    </div>
    <div class="page-content-wrapper ">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="event_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Event Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.event_name}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="event_des">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Event Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.event_des}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="event_loc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Event Location </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.event_loc}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="fk_user_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Event Created By </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fk_user_id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button (click)="deleteEvent(element)" color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button (click)="updateEvent(element)" color="primary" mat-icon-button>
                <mat-icon>create</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>

      </div>
    </div>
  </div>
  <footer class="footer"> © 2016 WebAdmin - All Rights Reserved. </footer>
</div>
