<!-- <p>
  add-user works!
</p> -->
<div class="content-page">
  <div class="content page-content-wrapper">
    <h1 class="display-1" style="text-align:center">Create User</h1>
    <div align="left" style="padding:15px">
      <!-- <form class="example-form" (ngSubmit)="onAddUser(userForm)" #userForm="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput ngModel required placeholder="Email ID" name="user_id" #user_id="ngModel">
          <mat-error *ngIf="user_id.hasError('required')">Please Enter Email ID</mat-error>
          <mat-error *ngIf="user_id.hasError('email')">Please Enter valid Email ID</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput ngModel required placeholder="User Name" name="user_name" #user_name="ngModel" cols="30" rows="3"></textarea>
          <mat-error *ngIf="user_name.hasError('required')">Please Enter User Name</mat-error>
        </mat-form-field>

        <label>Event Picture:</label>
        <input ngModel required type="file" name="post_pic" #post_pic="ngModel" (change)="onFileSelected($event)" id="">
        <div class="alert alert-danger" *ngIf="post_pic.hasError('required') && (post_pic.dirty || post_pic.touched)">
          pimg is required
        </div>

        <mat-form-field>
          <mat-select required placeholder="Select Community" name="community_id" [(ngModel)]="community_id" #c_id="ngModel">
            <mat-option *ngFor="let item of arrCommu" [value]="item.comm_id">
              {{ item.comm_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="c_id.hasError('required')">Please Select a Community</mat-error>
        </mat-form-field>

        <button type="submit" mat-button mat-raised-button color="warn">Create Post
          <mat-icon>done</mat-icon>
        </button>

      </form> -->
    </div>
  </div>
</div>
<footer class="footer"> © 2016 WebAdmin - All Rights Reserved. </footer>
