<!--<p>
  add-event works!
</p>-->
<app-header></app-header>
<div class="content-page">
  <div class="content">
    <div class="page-header-title">
      <h4 class="page-title">Create Event</h4>
    </div>
    <!--<form>
        Event Name:
        <input type="text" name="event_name" [(ngModel)]="event_name" id="">
        <br> Event Description:
        <textarea name="event_des"  [(ngModel)]="event_des" cols="30" rows="10"></textarea>
        <br> Event Image:
        <input type="file" name="event_pic" [(ngModel)]="event_pic" (change)="onFileSelected($event)" id="">
        <br> Event Starting Time:
        <input type="time" name="event_s_time" [(ngModel)]="event_s_time" id="">
        <br> Event Ending Time:
        <input type="time" name="event_e_time" [(ngModel)]="event_e_time" id="">
        <br> Event Date:
        <input type="date" name="event_date" [(ngModel)]="event_date" id="">
        <br> Event Location:
        <textarea name="event_loc" [(ngModel)]="event_loc" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="button" (click)="addEvents()" value="Add">
      </form>-->
    <form class="example-form" (ngSubmit)="onAdd(eventform)" #eventform="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput ngModel required placeholder="Event Name" name="event_name" #event_name="ngModel">
        <mat-error *ngIf="event_name.hasError('required')">Please Enter Event Name</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput ngModel required placeholder="Event Description" name="event_des" #event_des="ngModel" cols="30" rows="3"></textarea>
        <mat-error *ngIf="event_des.hasError('required')">Please Enter Event Description</mat-error>
      </mat-form-field>

      <!--<mat-form-field class="example-full-width">-->
      <label>Event Picture:</label>
      <input ngModel required type="file" name="event_pic" #event_pic="ngModel" (change)="onFileSelected($event)" id="">
      <!--<mat-error *ngIf="event_pic.hasError('required')">Please Enter Event Picture</mat-error>-->


      <mat-form-field class="example-full-width">
        <label for="">Event Starting Time</label>
        <input matInput ngModel required type="time" name="event_s_time" #event_s_time="ngModel">
        <mat-error *ngIf="event_s_time.hasError('required')">Please Enter Starting Time</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <label for="">Event Ending Time</label>
        <input matInput ngModel type="time" name="event_e_time" #event_e_time="ngModel">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <label for="">Event Date:</label>
        <input matInput ngModel required type="date" name="event_date" #event_date="ngModel">
        <mat-error *ngIf="event_date.invalid">Please Enter Event Date</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput ngModel required placeholder="Event Location" name="event_loc" #event_loc="ngModel" cols="30" rows="3"></textarea>
        <mat-error *ngIf="event_loc.hasError('required')">Please Enter Event Location</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="warn" [disabled]="!eventform.form.valid">Create Event
        <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>
      </button>

    </form>

    <footer class="footer"> © 2016 WebAdmin - All Rights Reserved. </footer>
  </div>
</div>
