<!--<p>
  add-event works!
</p>-->
<app-header></app-header>
<div class="content-page">
  <div class="content page-content-wrapper">
    <h1 class="display-1" style="text-align:center">Create Event</h1>
    <div align="left" style="padding:15px">
      <form class="example-form" (ngSubmit)="onAdd(eventform)" #eventform="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput ngModel required placeholder="Event Name" name="event_name" #event_name="ngModel">
          <mat-error *ngIf="event_name.hasError('required')">Please Enter Event Name</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput ngModel required placeholder="Event Description" name="event_des" #event_des="ngModel" cols="30" rows="3"></textarea>
          <mat-error *ngIf="event_des.hasError('required')">Please Enter Event Description</mat-error>
        </mat-form-field>

        <!--<mat-form-field class="example-full-width">-->
        <label>Event Picture:</label>
        <input ngModel required type="file" name="e_pic" #event_pic="ngModel" (change)="onFileSelected($event)" id="">
        <!-- <mat-error *ngIf="event_pic.invalid && (event_pic.dirty || event_pic.touched)">Please Enter Event Picture</mat-error> -->
        <!-- <div class="alert alert-danger" *ngIf="event_pic.hasError('required') && (event_pic.dirty || event_pic.touched)">
          pimg is required
        </div> -->


        <mat-form-field class="example-full-width">
          <label for="">Event Starting Time</label>
          <input matInput ngModel required type="time" name="event_s_time" #event_s_time="ngModel">
          <mat-error *ngIf="event_s_time.hasError('required')">Please Enter Starting Time</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label for="">Event Ending Time</label>
          <input matInput ngModel type="time" name="event_e_time" #event_e_time="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label for="">Event Date:</label>
          <input matInput ngModel required type="date" name="event_date" #event_date="ngModel">
          <mat-error *ngIf="event_date.hasError('required')">Please Enter Event Date</mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
          <input required matInput ngModel [matDatepicker]="picker" placeholder="Choose a date" name="event_date" [(ngModel)]="event_date"
            #e_date="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="e_date.hasError('required')">Please Enter Event Date</mat-error>
        </mat-form-field> -->

        <mat-form-field class="example-full-width">
          <textarea matInput ngModel required placeholder="Event Location" name="event_loc" #event_loc="ngModel" cols="30" rows="3"></textarea>
          <mat-error *ngIf="event_loc.hasError('required')">Please Enter Event Location</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select required placeholder="Select Community" name="community_id" [(ngModel)]="community_id" #c_id="ngModel">
            <mat-option *ngFor="let item of arrCommu" [value]="item.comm_id">
              {{ item.comm_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="c_id.hasError('required')">Please Select a Community</mat-error>
        </mat-form-field>

        <button type="submit" mat-button mat-raised-button color="warn" [disabled]="!eventform.form.valid">Create Event
          <mat-icon>done</mat-icon>
        </button>

      </form>
    </div>
  </div>
  <!--</div>-->
</div>
<footer class="footer"> © 2016 WebAdmin - All Rights Reserved. </footer>
