<!-- <p>
  unapproved-events works!
</p> -->
<app-header></app-header>
<div class="content-page">
  <div class="content page-content-wrapper">
    <h1 class="display-1" style="text-align:center">Unapproved Events</h1>
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="check">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Check </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input type="checkbox" (change)="checkChange(element)" name="eventcheck"> </mat-cell>
        </ng-container>

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="event_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Event Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.event_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="event_pic">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event Picture </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <img src="http://localhost:3000/images/events/{{element.event_pic}}" height="150" width="150" alt="..." class="img-thumbnail"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="event_loc">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event Location </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.event_loc}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comm_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Community Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.comm_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fk_user_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event Created By </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.user_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button (click)="deleteEvent(element)" color="warn" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="updateEvent(element)" color="primary" mat-icon-button>
              <mat-icon>done</mat-icon>
            </button>
            <button (click)="viewDetails(element)" color="black" mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>

      <div class="col-xs-6 col-sm-3 m-b-30">
        <button type="button" class="btn btn-danger waves-effect waves-light" (click)="deleteAll()">Delete All</button>
      </div>
    </div>
    <!--</div>-->
  </div>
  <footer class="footer"> © 2016 WebAdmin - All Rights Reserved. </footer>
