<!-- <p>
  add-community works!
</p> -->

<app-header></app-header>
<div class="content-page">
  <div class="content page-content-wrapper">
    <h1 class="display-1" style="text-align:center">Create Community</h1>
    <div align="left" style="padding:15px">
      <form class="example-form" (ngSubmit)="onAddCommunity(commuForm)" #commuForm="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput ngModel required placeholder="Community Name" name="comm_name" #comm_name="ngModel">
          <mat-error *ngIf="comm_name.hasError('required')">Please Enter Community Name</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput ngModel required placeholder="Community Description" name="comm_des" #comm_des="ngModel" cols="30" rows="3"></textarea>
          <mat-error *ngIf="comm_des.hasError('required')">Please Enter Community Description</mat-error>
        </mat-form-field>

        <!--<mat-form-field class="example-full-width">-->
        <label>Community Picture:</label>
        <input ngModel required type="file" name="comm_pic" #comm_pic="ngModel" (change)="onFileSelected($event)" id="">
        <!--<mat-error *ngIf="event_pic.hasError('required')">Please Enter Event Picture</mat-error>-->

        <mat-form-field>
          <mat-select required placeholder="Select Community" name="category_id" [(ngModel)]="category_id" #c_id="ngModel">
            <mat-option *ngFor="let item of arrCat" [value]="item.cat_id">
              {{ item.cat_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="c_id.hasError('required')">Please Select a Category</mat-error>
        </mat-form-field>

        <button type="submit" mat-button mat-raised-button color="warn" [disabled]="!commuForm.form.valid">Create Community
          <mat-icon>done</mat-icon>
        </button>

      </form>
    </div>
  </div>
</div>
<footer class="footer"> © 2016 WebAdmin - All Rights Reserved. </footer>
