<!-- <p>
  update-community works!
</p>
 -->
<app-header></app-header>
<div class="content-page">
  <div class="content page-content-wrapper">
    <h1 class="display-1" style="text-align:center">Update Community</h1>
    <div align="left" style="padding:15px">
      <form class="example-form" (ngSubmit)="onUpdateCommunity(commuForm)" #commuForm="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput ngModel required placeholder="Community Name" name="comm_name" [(ngModel)]="comm_name" #c_name="ngModel">
          <mat-error *ngIf="c_name.hasError('required')">Please Enter Community Name</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput ngModel required placeholder="Event Description" name="comm_des" [(ngModel)]="comm_des" #c_des="ngModel"
            cols="30" rows="3"></textarea>
          <mat-error *ngIf="c_des.hasError('required')">Please Enter Community Description</mat-error>
        </mat-form-field>

        <label>Community Picture:</label>
        <img src="https://letsmeetbackend.herokuapp.com/images/communities/{{comm_pic}}" height="150" width="150" alt="..." class="img-thumbnail">
        <input type="file" name="comm_pic" id="" (change)="onFileSelected($event)">

        <mat-form-field>
          <mat-select required placeholder="Select Community" name="category_id" [(ngModel)]="comm_fk_cat_id" #c_id="ngModel">
            <mat-option *ngFor="let item of arrCat" [value]="item.cat_id">
              {{ item.cat_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="c_id.hasError('required')">Please Select a Category</mat-error>
        </mat-form-field>

        <button type="submit" mat-button mat-raised-button color="warn" [disabled]="!commuForm.form.valid">Update Community
          <mat-icon>done</mat-icon>
        </button>

      </form>
    </div>
  </div>
</div>
